<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Form</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
  <nav class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create New Hisab</a></li>
     
    </ul>
</nav>


  <div class="form-container">
    <form action="/update" method="post">
      <label for="expenseDetails">Edit Your Hisab </label>
      <input type="text" name="filename" value="<%= filename  %>">
        <textarea id="expenseDetails" name="hisab" rows="4" placeholder=""><%= data %></textarea>

        <button type="submit" class="submit-btn">Update Hisab</button>
    </form>
  </div>
</body>
</html>
